* {
    margin: 0;
    font-family: sans-serif; 
}


a {
    color: antiquewhite;
    background-color: #b00b1e;
    text-decoration: none;
    padding: 2px 4px 2px;
}

header {
    background-color: #bb77b6;
    padding: 5px 3%;
    /* padding-left, padding-right: 30px;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
