* {
    margin: 0;
    font-family: sans-serif; 
}


a{

}

header {
    background-color: #bb77b6;
    padding: 5px 3%;
    /* padding-left, padding-right: 30px;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
